@import "tailwindcss";

@theme {
  --color-brand-green: #173E30;
  --color-brand-yellow: #FFB606;
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-33.33%); }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 40s linear infinite;
}